*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.main {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.main h1 {
    max-width: 100%;
    margin-top: 15px;
    font-size: 50px;
    text-align: center;
}

.parrafo {
    margin-top: 20px;
    color: hsl(221 8% 46.5%);
    font-size: 25px;
    text-align: center;
}

.formato {
    max-width: 100%;
    margin-top: 85px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgba(242, 242, 242, 1); 
    /* box-shadow: 0px 2px 2px 2px #000;*/
}

.formato input {
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: hsl(220 33.3% 96.6%);
    border: 1px solid hsl(225, 17%, 91%);
    border-radius: 10px;
    margin-bottom: 15px;
}

.formato a {
    width: 100%;
    line-height: 45px;
    display: flex;
    justify-content: center;
    border: solid hsl(227 66.8% 48.4%);
    background-color: hsl(227 66.8% 48.4%);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.formato p {
    padding: 18px 50px 10px 50px;
    font-size: 13px;
    color: hsl(221 8% 46.5%);
}
